
{% extends "main.html" %}
{% load static %}


{% block content %}


<div class="container p-3">
  <div class="row gy-0">
    <div class="col">
      <h3>My resume</h3>
      <p> Привет! Я Dias, backend-разработчик на Python, люблю создавать быстрые и надёжные веб-сервисы с Django и FastAPI. Интересуюсь DevOps, AI и чистой архитектурой.</p>
      
    </div>
    <div class="col">
      <img src="{% static 'images/my_pic.jpg' %}" alt="My photo" width="300">
    </div>
    <div class="col">
      <div class="cube-design">
        <h3><b>About me</b></h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem </p>
          </div>
      <div class="cube-design1">
             <h3><b>Projects</b></h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem </p>
          </div>
    </div>


    <div class="col">
       <div class="cube-design2">
            <h3><b>Projects</b></h3>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem </p>
          </div>
      <div class="cube-design3">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
         when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged.</p>
          </div>
    </div>
  </div>
</div>





{% endblock content %}








